{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if request.user.is_authenticated %}Enter Room{% else %}Login{% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap">
</head>
<body>
    <div class="parent">
        <div class="child">
            {% if request.user.is_authenticated %} 
                {% include 'forms/room_form.html' %}
            {% else %}
                {% include 'forms/login_form.html' %}
            {% endif %}
        </div>
    </div>
</body>
</html>
